*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Arial;
}

body {
	padding: 0;
	margin: 0;
}

.app {
	width: 100%;
	height: 100vh;
	color: #ffffff;
	background: #242424;

	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

button {
	border: none;
	min-width: 210px;
	min-height: 60px;
	padding: 6px 12px;
	border-radius: 15px;
	background: teal;

	cursor: pointer;
	font-size: 19px;
	font-weight: 500;
	color: #fff;

	display: flex;
	align-items: center;
	justify-content: center;
}

button:not(:last-child) {
	margin: 0px 20px 0px 0px;
}